@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane osobowe";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Twoje konto zawiera dane osobowe, które nam przekazałeś. Ta strona pozwala na pobranie lub usunięcie tych danych.</p>
        <p>
            <strong class="text-danger">Usunięcie tych danych trwale usunie Twoje konto, a tej operacji nie da się cofnąć.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Pobierz dane</button>
        </form>
        <p class="mt-3">
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Usuń konto</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}