@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj na Platformie Kursów Online!</h1>
    <p>Rozwijaj swoje umiejętności z najlepszymi instruktorami.</p>
    <hr />
    <div class="mt-4">
        <a asp-controller="Courses" asp-action="Index" class="btn btn-success btn-lg">Przeglądaj dostępne kursy</a>
    </div>
</div>
